{% extends "footer_header.html" %} {% block content %}
<div class="card text-white bg-secondary mb-3" style="max-width:700px;">
    <div class="card-header">
        <h2>Quy trình khám Bệnh nhiệt đới</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Quy trình</h5>
        <p class="card-text">
            <ul style="list-style-type:circle;">
                <li>Bước 1: Bắt đầu quá trình khám bệnh: Đăng ký họ tên, địa chỉ, trình thẻ bảo hiểm, chứng minh thư (nếu có), đóng tiền tạm ứng.</li>

                <li>Bước 2: Tại một trong các phóng 101,102, 103, 105, 106: Bác sỹ khám bệnh, tư vấn, chỉ định xét nghiệm.</li>

                <li>Bước 3: Lấy máu xét nghiệm và các bệnh phẩm khác tại phóng 104</li>

                <li>Bước 4: Làm các chỉ định siêu âm, chụp XQ, chụp CT, MRI và nôi soi dạ dày, phế quản tại khoa chuẩn đoán hình ảnh.
                </li>

                <li>Bước 5: Sau khi mà đủ các xét nghiệm được chỉ định thì theo hẹn quay lại phòng khám ban đầu để bác sĩ trả kết quả Xét nghiệm, tư vấn, kê đơn thuốc điều trị hoặc nhập viện.</li>

                <li>Bước 6: Bệnh nhân quay trở lại phòng tiếp đón, Nếu Bệnh nhân điều trị ngoại trú sẽ được thanh toán tiền khám chữa bệnh, trả thẻ bảo hiểm, Chứng minh thư. Trường hợp Bệnh nhân phải điều trị nội trú sẽ được làm thủ tục nhập viện</li>
                <li>Bước 7: Bệnh nhân đến quầy thuốc bảo hiễm lĩnh thuốc theo đơn thuốc bảo hiểm, nếu không có bảo hiểm Bệnh nhân mua thuốc theo đơn bác sĩ đã kê.</li>
                <li><i>Nếu bệnh nhân được chỉ định xét nghiệm:</i></li>
                <ul>
                    <li>Nộp tiền và làm thủ tục BHYT ( nếu có) tại phòng tài chính kế toán</li>
                    <li>Đến phòng lấy mẫu xét nghiệm (phòng số 4), phòng chụp X-Quang, phòng siêu âm theo chỉ dẫn.</li>
                    <li>Kết quả xét nghiệm nhận tại phòng bác sĩ khám theo giờ hẹn. Bệnh nhân ngồi ghế chờ tại cửa phòng khám để bác sĩ gọi lần lượt vào trả kết quả xét nghiệm và kết luận.</li>
                </ul>
                <li><i>Nếu bệnh nhân được chỉ định nhập viện:</i></li>
                <ul>
                    <li>Làm thủ tục hành chính tại phòng tiếp đón</li>
                    <li>Nộp tiền và làm thủ tục BHYT (nếu có) tại phòng tài chính kế toán</li>
                    <li>Quay trở lại phòng tiếp đón để nhân viên y tế đưa đến phòng bệnh.</li>
                </ul>
                <li><i>Đối với bệnh nhân điều trị ngoại trú BHYT</i></li>
                <ul>
                    <li>Người bênh làm thủ tục theo các bước trên. Khi được bác sĩ khám nếu bệnh nhân đượ chỉ định xét nghiệm. X-Quang, siêu âm, người bệnh cần:</li>
                    <ul>
                        <li>Làm thủ tục BHYT tại phòng Giám định BHYT tầng 1</li>
                        <li>Nộp tiền cùng chi trả Phòng Tài chính kế toán tầng 1</li>
                        <li>Đến phòng lấy mẫu xét nghiệm tại phòng 4 ( tầng 1), phòng chụp X-Quang, phòng siêu âm theo biển chỉ dẫn</li>
                        <li>Ngồi ghế chờ tại cửa phòng khám để nhân viên y tế gọi lần lượt, kết luận và trả kết quả (theo hẹn).</li>

                    </ul>

                </ul>
                <li><i>Nếu bệnh nhân được chỉ định kê đơn, cho về, người bệnh cần:</i></li>
                <ul>
                    <li>Làm thủ tục BHYT tại phòng Giám định BHYT;</li>
                    <li>
                        Nộp tiền phần cùng chi trả tại Phòng Tài chính kế toán (tầng 1);
                    </li>
                    <li> Nhận lại thẻ BHYT tại phòng Giám định BHYT (nếu có);</li>
                    <li>Lĩnh thuốc tại quầy thuốc Khoa Dược (nếu có) và ra về.</li>
                </ul>
                <li><i>Nếu bệnh nhân được chỉ định chuyển viện:</i></li>
                <ul>
                    <li>Bác sĩ viết giấy chuyển viện;</li>
                    <li>Người bệnh cầm giấy chuyển viện ra đóng dấu tại phòng Văn thư (tầng 1), đóng dấu BHYT tại phòng Giám định BHYT (nếu bệnh nhân chuyển viện đúng tuyến);</li>
                    <li> Nhận lại thẻ BHYT tại phòng Giám định BHYT (nếu có);</li>
                    <li> Lĩnh thuốc tại quầy thuốc khoa Dược (nếu có) và ra về.</li>
                </ul>
                <li><i>Nếu bệnh nhân được chỉ định nhập viện </i></li>
                <ul>
                    <li>Làm thủ tục nhập viện tại Phòng tiếp đón;</li>
                    <li>Nộp ký quỹ viện phí tại Phòng Tài chính kế toán (tầng 1);</li>
                    <li>Làm thủ tục BHYT tại phòng Giám định BHYT;</li>
                    <li>Quay trở lại phòng tiếp đón để được nhân viên y tế đưa đến phòng bệnh.</li>
                </ul>
        </p>
    </div>
    <img src="http://media.doisongphapluat.com/526/2018/12/18/18122018-doisongphapluat-benhviennhietdoiTW-2.jpg" alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:700px;height:500px; margin-left: 750px; margin-top: 100px">
    <img src="https://bookingcare.vn/files/image/2018/03/01/144506sodobvbachmai.jpg" alt="Bệnh viện nhiệt đới" style=" position:absolute;width:700px;height:500px; margin-left: 750px; margin-top: 650px">
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhamxuongkhop">
                <<</a>
        </li>

        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhtheoyeucau">4</a></li>

        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhtheoyeucau">>></a></li>
    </ul>
</nav>
{% endblock %}