<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>footer_header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet">

</head>
<style>
    .footer {
        background-color: #e9d8f4;
        color: darkslategray;
        padding: 10px;
        text-align: center;
    }
</style>

<body>
    <img src="http://bachmai.gov.vn/images/TEST.jpg" style="max-width:100%;height:auto;">
    <a href="/"> Quay lại trang chủ</a>
    <hr> {% block content %} {% endblock %}

    <hr>

    <div class="footer">
        <h4>CỔNG THÔNG TIN ĐIỆN TỬ BỆNH VIỆN BẠCH MAI</h4>
        <Pre>
                    Giấy phép số: 115/GP-BC do BVHTT cấp ngày 5/8/2005 
                    Chịu trách nhiệm chính: PGS/TS.BSCC. Nguyễn Quốc Anh - Giám đốc Bệnh viện Bạch Mai
                    Địa chỉ: 78 Đường Giải Phóng, Phương Mai, Đống Đa, Hà Nội - Tel: 844 3869 3731 -Fax: 844 3869 1067
                </Pre>
    </div>

</body>

</html>