{% extends "footer_header.html" %} {% block content %}

<div class="card text-white bg-secondary mb-3" style="max-width:700px;">
    <div class="card-header">
        <h2>Quy trình khám bệnh về cơ xương khớp</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Quy trình</h5>
        <p class="card-text">
            <ul style="list-style-type:circle;">
                <li>Bước 1: Liên hệ khu khám bệnh và lấy phiếu điền thông tin bệnh nhân đầy đủ. Nộp phiếu và các giấy tờ liên quan tại quầy đăng ký khám bệnh.</li>

                <li>Bước 2: Khi được gọi tên thì tới lấy số thứ tự khám bệnh, cầm sổ khám bệnh di chuyển tới Tầng 2 Nhà P.</li>

                <li>Bước 3: Ngồi chờ trước phòng khám, khi nhân viên y tế gọi tên thì đi vào khám.</li>

                <li>Bước 4: Bác sĩ sẽ hỏi thăm bệnh nhân về các triệu chứng, tần suất xảy ra, mức độ như thế nào để có thể chẩn đoán bệnh chính xác. Trong trường hợp còn nghi ngờ, bác sĩ sẽ cho tiến hành chụp X-quang, nội soi, … để giúp người bệnh chắc chắn
                    hơn.
                </li>

                <li>Bước 5: Những bệnh nhân nào được bác sĩ chỉ định chụp X-quang, nội soi, … thì cầm kết quả quay trở lại phòng khám để bác sĩ có kết luận cuối cùng. Sau đó, bác sĩ sẽ kê đơn thuốc, hướng dẫn cách dùng thuốc và một số lưu ý nếu có.</li>

                <li>Bước 6: Ra quầy thuốc bệnh viện để mua thuốc. Trường hợp nào cần nhập viện thì đi đóng viện phí.</li>

                <li>Bệnh viện Bạch Mai áp dụng thủ tục khám chữa bệnh theo chế độ bảo hiểm y tế (BHYT) nên trước khi đến khám bệnh nhân và người nhà cần lưu ý những việc sau:</li>
                <ul>
                    <li>Thẻ BHYT phải có ảnh, trường hợp BHYT chưa có ảnh phải xuất trình thêm giấy tờ liên quan đến người đó.</li>
                    <li>Trẻ dưới 6 tuổi chỉ cần xuất trình thẻ BHYT. Nếu không có thì bố mẹ phải xuất trình giấy khai sinh hoặc giấy chứng sinh và kí vào hồ sơ bệnh án của trẻ để làm căn cứ thanh toán.</li>
                    <li>Trong thời gian chờ cấp lại BHYT thì người bệnh phải xuất trình giấy hẹn của tổ chức Bảo hiểm xã hội và một loại giấy tờ chứng minh nhân thân của người đó.</li>
                    <li>Trường hợp bệnh nhân cấp cứu được khám chữa bệnh tại bất cứ cơ sở y tế nào, trước khi ra viện phải xuất trình các giấy tờ.</li>
                    <li>Khi chuyển tuyến cần phải xuất trình các giấy tờ trên và giấy chuyển tuyến theo quy định của Bộ Y tế.</li>
                </ul>
                <li>Khi đi khám lại theo giấy hẹn phải xuất trình các giấy tờ trên và giấy hẹn khám của bác sĩ.</li>
                <li>Khi gặp một trong những trường hợp sau: đi công tác, làm việc lưu động, đi học tập trung, tạm trú thì được khám bệnh tại cơ sở y tế cùng tuyến có chuyên môn kỹ thuật ghi trên thẻ BHYT, phải xuất trình các giấy tờ trên và một trong các
                    giấy tờ như: giấy công tác, quyết định cử đi học, giấy tạm trú.</li>
                <li>Trường hợp người đã hiến bộ phận cơ thể đến khám bệnh phải xuất trình các giấy tờ trên. Nếu không có BHYT thì vẫn được hưởng những quyền lợi nhưng người đứng đầu cơ sở y tế nơi lấy bộ phận cơ thể và người bệnh, thân nhân bắt buộc kí vào
                    hồ sơ bệnh án để làm căn cứ thanh toán theo quy định.</li>
                <li>Trường hợp khám bệnh tại cơ sở y tế không có hợp đồng khám bệnh BHYT thì cơ sở phải có trách nhiệm cung cấp các chứng từ hợp lệ liên quan đến chi phí khám bệnh để người bệnh thanh toán với tổ chức bảo hiểm xã hội.</li>
                <li>Lưu ý: Nếu bác sĩ có hẹn ngày tái khám thì nhớ đi đúng ngày, đúng giờ.</li>

                <li>Bệnh viện Bạch Mai là bệnh viện tuyến cuối nên số lượng bệnh nhân đến khám rất đông bạn nên khi đi khám lần đầu bạn nên biết rõ:</li>
                <ul>
                    <li>Nên đi sớm để được lấy số thự tự khám sớm nhất có thể.</li>
                    <li>Trước khi đi khám nên nhịn ăn để phục vụ các xét nghiệm máu, nước tiểu trong trường hợp cần thiết.</li>
                    <li>Không nên mang quá nhiều đồ đạc, mang theo trẻ nhỏ đề phòng kẻ gian ăn cắp.</li>
                    <li>Khi mắc bệnh truyền nhiễm thì nên đeo khẩu trang để không lây cho người khác.</li>
                </ul>
        </p>
    </div>
    <img src="https://bookingcare.vn/files/image/2018/03/02/111732toa-nha-viet-nhat.jpg" alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:700px;height:500px; margin-left: 750px; margin-top: 50px">
    <img src="http://images.alobacsi.vn/Images/Uploaded/Share/2013/1/17/Rut-ngan-quy-trinh-kham-benh-bang-cach-nao-5.jpg" alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:300px;height:500px; margin-left: 750px; margin-top: 570px">
    <img src="http://a9.vietbao.vn/images/vn975/giao-duc/75256247-bm_1.jpg" alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:300px;height:500px; margin-left: 1100px; margin-top: 570px">
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="http://127.0.0.1:5000/Motsoquytrinhkhambenh">
                <<</a>
        </li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhnhietdoi">3</a></li>
        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhtheoyeucau">4</a></li>

        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhbenhnhietdoi">>></a></li>
    </ul>
</nav>
{% endblock %}