{% extends "footer_header.html" %} {% block content %}
<div class="card text-white bg-secondary mb-3" style="max-width:700px;">
    <div class="card-header">
        <h2>Quy trình khám chữa bệnh theo yêu cầu</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Quy trình</h5>
        <p class="card-text">
            <ul style="list-style-type:circle;">
                <li>Bước 1: Xếp hàng, lấy số và yêu cầu khám với bác sĩ chuyên khoa theo mong muốn.</li>
                <li>Bước 2: Ngồi chờ tới lượt, trong quá trình khám bác sĩ khám lâm sàng và có thể yêu cầu người bệnh thực hiện một số kiểm tra cận lâm sàng cần thiết.</li>
                <li>Bước 3: Đóng phí thực hiện các xét nghiệm, kiểm tra, chụp chiếu cần thiết…</li>
                <li>Bước 4: Sau khi có kết quả kiểm tra, người bệnh quay về phòng khám ban đầu để nghe kết luận của bác sĩ về tình trạng bệnh.</li>
                <li>Bạn cần lưu ý là khi khám tại khoa Khám bệnh theo yêu cầu, bạn sẽ không nhận được sự hỗ trợ của Bảo hiểm Y tế mà bạn phải tự trả chi phí khám bệnh, chi phí xét nghiệm… theo quy định của bệnh viện. Dưới đây là chi phí một số dịch vụ tại
                    khoa Khám bệnh theo yêu cầu của Bệnh viện Bạch Mai:</li>
                <br>
                <br>
                <table>
                    <tr>
                        <th>Tên dịch vụ</th>
                        <th>Giá</th>
                    </tr>
                    <tr>
                        <td>Khám bệnh</td>
                        <td>39.000</td>
                    </tr>
                    <tr>
                        <td>Khám Giáo sư</td>
                        <td>200.000</td>
                    </tr>
                    <tr>
                        <td>Khám Phó Giáo sư</td>
                        <td>150.000</td>
                    </tr>
                    <tr>
                        <td>Khám Tiến sĩ, Bác sĩ CKII</td>
                        <td>120.000</td>
                    </tr>
                    <tr>
                        <td>Khám Thạc sĩ, Bác sĩ CK I</td>
                        <td>100.000</td>
                    </tr>
                    <tr>
                        <td>Khám Bác sĩ</td>
                        <td>70.000</td>
                    </tr>
                    <tr>
                        <td>Khám yêu cầu đích danh, cộng thêm theo mức giá từng đối tượng</td>
                        <td>150.000</td>
                    </tr>
                    <tr>
                        <td>Công tư vấn</td>
                        <td>70.000</td>
                    </tr>
                    <tr>
                        <td>Hội chuẩn để xác định ca bệnh khó (chuyên gia/ca; Chỉ áp dụng đối với trường hợp mời chuyên gia đơn vị khác đến hội chuẩn tại cơ sở khám, chữa bệnh)

                        </td>
                        <td>200.000</td>
                    </tr>
                    <tr>
                        <td>Khám, cấp giấy chứng thương, giám định y khoa(không kể xét nghiệm, X-quang)


                        </td>
                        <td>120.000</td>
                    </tr>
                    <tr>
                        <td>Khám sức khỏe toàn diện cho người đi xuất khẩu lao động(không kể xét nghiệm, X-quang)
                        </td>
                        <td>300.000</td>
                    </tr>
                    <tr>
                        <td>Khám sức khỏe toàn diện lao động, lái xe, khám sức khỏe định kỳ (Không kể xét nghiệm, X-quang)

                        </td>
                        <td>120.000</td>
                    </tr>
                </table>
            </ul>

        </p>
    </div>
    <img src="https://bookingcare.vn/files/image/2018/03/07/110535khoa-kham-theo-yeu-cau-benh-vien-bach-mai.jpg" alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:700px;height:400px; margin-left: 750px; margin-top: 20px">
    <img src="https://scontent.fhan5-4.fna.fbcdn.net/v/t1.15752-9/79522027_597861920964552_4116595341397065728_n.png?_nc_cat=104&_nc_ohc=vLxaAHWO9iYAQn7eKWyOqMWv0k9dNpN5ViTvuAqPleEo1Oc5kvjmsZcAg&_nc_ht=scontent.fhan5-4.fna&oh=c68e4a9ba886159681d19d96873481f7&oe=5E7C65EB"
        alt="Sơ đồ bệnh viện Bạch Mai" style=" position:absolute;width:700px;height:400px; margin-left: 750px; margin-top: 440px">
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhnhietdoi">
                <<</a>
        </li>


        <li class="page-item"><a class="page-link" href="http://127.0.0.1:5000/Quytrinhkhambenhtheoyeucau">>></a></li>
    </ul>
</nav>
{% endblock %}